<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand text-light" href="/admin"><b>DACE</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active text-light" href="#"><b>Administrador</b></a>  
      <a class="nav-item nav-link text-light" href="/admin/login"><b>Salir</b></a>
    </div>
  </div>
</nav>

<div class="container mt-4 animated fadeIn">
  <div class="row">
    <div class="col-md-3 mt-4">
      <center>
        <a class="card bg-primary" href="/admin/new">
          <div class="card-body">
            <img src="/icons/ionicons/ios-add-circle-outline.svg" class="w-50">
            <h3 class="text-light"><b>Nuevo Personal</b></h3>
          </div>
        </a>
      </center>
    </div>
    <div class="col-md-3 mt-4">
      <center>
        <a class="card bg-primary" href="/admin/ver">
          <div class="card-body">
            <img src="/icons/ionicons/ios-create.svg" class="w-50">
            <h3 class="text-light"><b>Actualizar Personal</b></h3>
          </div>
        </a>
      </center>
    </div>
    <div class="col-md-3 mt-4">
      <center>
        <a class="card bg-primary" href="/admin/search">
          <div class="card-body">
            <img src="/icons/ionicons/ios-search.svg" class="w-50">
            <h3 class="text-light"><b>Consultar</b></h3>
          </div>
        </a>
      </center>
    </div>
    <div class="col-md-3 mt-4">
      <center>
        <a class="card bg-primary" href="/admin/reportes">
          <div class="card-body">
            <img src="/icons/ionicons/ios-document.svg" class="w-50">
            <h3 class="text-light"><b>Ver Reporte</b></h3>
            <p>Función No Disponible</p>
          </div>
        </a>
      </center>
    </div>
  </div>
</div>
