<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/animate.css">
    <link rel="stylesheet" href="/DataTables/datatables.css">
  </head>
  <body>
    {{{body}}}
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/jquery.mask.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/DataTables/datatables.js"></script>
  </body>
</html>
